{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AdsMoney</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <script type='text/javascript' type='text/javascript' src='//diversecrashconcern.com/ad/5e/e5/ad5ee5933465eeb8d3cb25cea8c7b1c8.js'></script>


</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand">
            <img src="{% static 'images/logo1.png' %}" alt="" /><span>
              AdsMoney
            </span>
          </a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-image: url('static/images/menu.png');"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="https://chat.whatsapp.com/BVRekOdoS3z2GmsQvl8Vxm">WhatsApp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/+5aOtWd0kgK41N2I0"> Telegram</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/withdraw">withdraw</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/claim">claim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/signup">SignUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LogIn</a>
                </li>
                {% endif %}
              </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
              <a style="color: white;">
                {{ click }} Clicks (${{ dollar }})
              </a>
            </div>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>
    <script async="async" data-cfasync="false" src="//diversecrashconcern.com/bb9ec6fe27d16a409cfcc6615c58ad5d/invoke.js"></script>
<div id="container-bb9ec6fe27d16a409cfcc6615c58ad5d"></div>
    <!-- end header section -->
    {% include 'messages.html' %}
    {% block body %}
    {% endblock %}
    {{ WebAdsContainers }}
    {% if user.is_authenticated %}
    <section class="service_section layout_padding ">
      <div class="container">
        <div class=" layout_padding2">
          <div class="card-deck">

            {% for i in Lists %}
            <div class="card">
              <iframe src="{{i}}"></iframe>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </section>
  {% endif %}
    <script type='text/javascript' src='//diversecrashconcern.com/63/a1/f2/63a1f2942f975c6891c8d1cbcf62c1c9.js'></script>
<script type='text/javascript' src='//diversecrashconcern.com/63/a1/f2/63a1f2942f975c6891c8d1cbcf62c1c9.js'></script>
<script async="async" data-cfasync="false" src="//diversecrashconcern.com/bb9ec6fe27d16a409cfcc6615c58ad5d/invoke.js"></script>
<div id="container-bb9ec6fe27d16a409cfcc6615c58ad5d"></div>
<script type="text/javascript">
	atOptions = {
		'key' : '240b3f8237319e1ae6c702a6be52c7b0',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://diversecrashconcern.com/240b3f8237319e1ae6c702a6be52c7b0/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : '44f6dc407bbd0aabf43ccb5ca8dcfe3a',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://diversecrashconcern.com/44f6dc407bbd0aabf43ccb5ca8dcfe3a/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : '93df9a633a3b65639387ed962bb7c9d2',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://diversecrashconcern.com/93df9a633a3b65639387ed962bb7c9d2/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : '2ee261b51fb24dde6fe2b593bd8e43e6',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://diversecrashconcern.com/2ee261b51fb24dde6fe2b593bd8e43e6/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : '2bacc9c0bf277b9bc2a50f9c49a44360',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://diversecrashconcern.com/2bacc9c0bf277b9bc2a50f9c49a44360/invoke.js"></scr' + 'ipt>');
</script>
<style>
   /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
</script>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://chat.whatsapp.com/BVRekOdoS3z2GmsQvl8Vxm">Pearlmart</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
