{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AdsMoney</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand">
            <img src="{% static 'images/logo1.png' %}" alt="" /><span>
              AdsMoney
            </span>
          </a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-image: url('static/images/menu.png');"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://chat.whatsapp.com/BVRekOdoS3z2GmsQvl8Vxm">WhatsApp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://t.me/+5aOtWd0kgK41N2I0"> Telegram</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/withdraw">Withdraw</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/claim">Bonuses</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/signup">SignUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LogIn</a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
              <a style="color: white;">
                {{ click }} Clicks (${{ dollar }})
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    {% include 'messages.html' %}
    {% block body %}
    {% endblock %}
    {{ WebAdsContainers }}
    <section class="service_section layout_padding ">
      <div class="container">
        <h2 class="custom_heading">Our Other Websites 1</h2>
        <div class=" layout_padding2">
          <div class="card-deck">
            <div class="card" >
              
              <iframe src="https://pearlytd.herokuapp.com" frameborder="0"></iframe>
            </div>
          </div>
            <div class="card">
              <iframe src="https://zooforce.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://twogames.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://shopbeautiful.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://pstorep.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://peermac.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://oneclick.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://hunterp.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://gamep.herokuapp.com" frameborder="0"></iframe>
            </div>
            <div class="card">
              <iframe src="https://galleryp.herokuapp.com" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>  
<style>
   /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 
</style>
<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
</script>
  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://chat.whatsapp.com/BVRekOdoS3z2GmsQvl8Vxm">Pearlmart</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
