{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

  <!-- contact section -->
  <section class="contact_section layout_padding " style=" background-image: url('static/images/logo1.png');">
    <div class="container">
      <h2 class="font-weight-bold">
        {{ header }}
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form action="" method="POST">
            <div class="contact_form-container">
              
                {% csrf_token %}
                <div>
                    <div>
                      <input type="name" name="username" placeholder="Enter Username">
                    </div>
                    <div>
                      <input type="password" name="password" placeholder="Enter password">
                    </div>
                    <div class="mt-5">
                      <button type="submit">
                        LogIn
                      </button>
                    </div>
                  </div>
              <div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  <script type='text/javascript' src='//diversecrashconcern.com/63/a1/f2/63a1f2942f975c6891c8d1cbcf62c1c9.js'></script>
  <script async="async" data-cfasync="false" src="//diversecrashconcern.com/bb9ec6fe27d16a409cfcc6615c58ad5d/invoke.js"></script>
  <div id="container-bb9ec6fe27d16a409cfcc6615c58ad5d"></div>
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="social_container">
            <h5>
              Follow Us
            </h5>
            <div class="social-box">
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>

              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
              </a>
            </div>
          </div>
          <div class="subscribe_container">
            <h5>
              Subscribe Now
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>




  {% endblock %}