{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

  <!-- contact section -->
  <section class="contact_section layout_padding " style=" background-image: url('static/images/logo1.png');">
    <div class="container">
      <h2 class="font-weight-bold">
        Reset Password Form
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form  method="POST">
            <div class="contact_form-container">
              <div>
                {% csrf_token %}
                {{ form |crispy }}
              </div>
              <div><input style="background-color: rgb(154, 11, 11);" value="Next" class="text-uppercase custom_orange-btn mr-3" type="submit"></div>
            </div>

          </form>
        </div>
      </div>
    </div>

  <!-- end contact section -->





  {% endblock %}